
stores/.DS_Store
.DS_Store
.DS_Store
stores/.DS_Store
stores/Bogota/.DS_Store
stores/Bogota/.DS_Store
stores/Bogota/barriolegalizado/BarrioLegalizado.CPG
stores/Bogota/barriolegalizado/BarrioLegalizado.dbf
stores/Bogota/barriolegalizado/BarrioLegalizado.prj
stores/Bogota/barriolegalizado/BarrioLegalizado.sbn
stores/Bogota/barriolegalizado/BarrioLegalizado.sbx
stores/Bogota/barriolegalizado/BarrioLegalizado.shp
stores/Bogota/barriolegalizado/BarrioLegalizado.shp.xml
stores/Bogota/barriolegalizado/BarrioLegalizado.shx
stores/Bogota/barrios_catastrales/barrios_catastrales.dbf
stores/Bogota/barrios_catastrales/barrios_catastrales.prj
stores/Bogota/barrios_catastrales/barrios_catastrales.shp
stores/Bogota/barrios_catastrales/barrios_catastrales.shx
stores/Bogota/barrios_SDP/barrios_SDP.dbf
stores/Bogota/barrios_SDP/barrios_SDP.prj
stores/Bogota/barrios_SDP/barrios_SDP.shp
stores/Bogota/barrios_SDP/barrios_SDP.shx
stores/Bogota/bog.rds
stores/Bogota/Bogotá.rds
stores/Bogota/unidad_planeamiento_local/Unidad_planeamiento_local_20211229.cpg
stores/Bogota/unidad_planeamiento_local/Unidad_planeamiento_local_20211229.dbf
stores/Bogota/unidad_planeamiento_local/Unidad_planeamiento_local_20211229.prj
stores/Bogota/unidad_planeamiento_local/Unidad_planeamiento_local_20211229.sbn
stores/Bogota/unidad_planeamiento_local/Unidad_planeamiento_local_20211229.sbx
stores/Bogota/unidad_planeamiento_local/Unidad_planeamiento_local_20211229.shp
stores/Bogota/unidad_planeamiento_local/Unidad_planeamiento_local_20211229.shp.xml
stores/Bogota/unidad_planeamiento_local/Unidad_planeamiento_local_20211229.shx
stores/Bogota/unidad_planeamiento_rural/Unidad_planeamiento_rural_20211229.cpg
stores/Bogota/unidad_planeamiento_rural/Unidad_planeamiento_rural_20211229.dbf
stores/Bogota/unidad_planeamiento_rural/Unidad_planeamiento_rural_20211229.prj
stores/Bogota/unidad_planeamiento_rural/Unidad_planeamiento_rural_20211229.sbn
stores/Bogota/unidad_planeamiento_rural/Unidad_planeamiento_rural_20211229.sbx
stores/Bogota/unidad_planeamiento_rural/Unidad_planeamiento_rural_20211229.shp
stores/Bogota/unidad_planeamiento_rural/Unidad_planeamiento_rural_20211229.shp.xml
stores/Bogota/unidad_planeamiento_rural/Unidad_planeamiento_rural_20211229.shx
stores/Bogota/upz/upz.dbf
stores/Bogota/upz/upz.prj
stores/Bogota/upz/upz.shp
stores/Bogota/upz/upz.shx
stores/Cali/.DS_Store
stores/Cali/Cali.rds
stores/Cali/cat_manzanas.csv
stores/Cali/mc_barrios..rtf
stores/Cali/mc_barrios.csv
stores/Cali/mc_barrios/mc_barrios.cst
stores/Cali/mc_barrios/mc_barrios.dbf
stores/Cali/mc_barrios/mc_barrios.prj
stores/Cali/mc_barrios/mc_barrios.shp
stores/Cali/mc_barrios/mc_barrios.shx
stores/Cali/mc_barrios/wfsrequest.txt
stores/Medellin/.DS_Store
stores/Medellin/barrios_Medellin.rds
stores/Medellin/planeacion_gdb.csv
stores/Medellin/planeacion_gdb.geojson
stores/Medellin/planeacion_gdb/planeacion_gdb.cpg
stores/Medellin/planeacion_gdb/planeacion_gdb.dbf
stores/Medellin/planeacion_gdb/planeacion_gdb.prj
stores/Medellin/planeacion_gdb/planeacion_gdb.shp
stores/Medellin/planeacion_gdb/planeacion_gdb.shx
stores/MGN2021_URB_MANZANA/MGN_URB_MANZANA.cpg
stores/MGN2021_URB_MANZANA/MGN_URB_MANZANA.dbf
stores/MGN2021_URB_MANZANA/MGN_URB_MANZANA.prj
stores/MGN2021_URB_MANZANA/MGN_URB_MANZANA.sbn
stores/MGN2021_URB_MANZANA/MGN_URB_MANZANA.sbx
stores/MGN2021_URB_MANZANA/MGN_URB_MANZANA.shp
stores/MGN2021_URB_MANZANA/MGN_URB_MANZANA.shp.xml
stores/MGN2021_URB_MANZANA/MGN_URB_MANZANA.shx
stores/sector_shp/SECTOR.cpg
stores/sector_shp/SECTOR.dbf
stores/sector_shp/SECTOR.prj
stores/sector_shp/SECTOR.sbn
stores/sector_shp/SECTOR.sbx
stores/sector_shp/SECTOR.shp
stores/sector_shp/SECTOR.shp.xml
stores/sector_shp/SECTOR.shx
stores/stores.Rproj
stores/Test_Barrios_texto.rds
stores/Test_TextPorcessed.RDS
stores/Train_Barrios_texto.rds
stores/Train_TextPorcessed.RDS
*.cpg
*.dbf
*.prj
*.xml
*.shp
*.xml
stores/Train_TextPorcessed.RDS
stores/Train_Barrios_texto.rds
stores/Test_TextPorcessed.RDS
stores/Test_Barrios_texto.rds
stores/stores.Rproj
stores/sector_shp/SECTOR.shx
stores/sector_shp/SECTOR.shp.xml
stores/sector_shp/SECTOR.shp
stores/sector_shp/SECTOR.sbx
stores/sector_shp/SECTOR.sbn
stores/sector_shp/SECTOR.prj
stores/sector_shp/SECTOR.dbf
stores/sector_shp/SECTOR.cpg
*.shx
*.xml
*.shp
*.sbx
*.sbn
*.prj
*.dbf
*.cpg
*.shx
*.shp
